In [ ]:
# de mi archivo titanic, leeo los datos del archivo en un pandas y utilizo metodos shape, head para visualizar datos

# Adem+as selecciono 4 columnas de mi df

In [2]:
import pandas as pd
import sqlite3

path = '../src/input/titanic.csv'

df = pd.read_csv(path, sep=',')
df.head(2)

AttributeError: module 'pandas' has no attribute 'read_csv'

In [ ]:
df.to_csv('./scripts/salida_datos/file.csv', index=False)

In [ ]:
df.to_excel('./scripts/salida_datos/file.xlsx', index=False)

In [ ]:
with sqlite3.connect('./scripts/pandas.bd') as conn:   
    # escribo datos en db
    df.to_sql('titanic', conn, index=False, if_exists='replace')
    
    # recupero los datos
    query = 'SELECT * FROM titanic'
    df_titanic = pd.read_sql_query(query, conn)
    pass

In [ ]:
df_titanic.head()